<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">ფორუმის თემები</h3>
    </div>


    <table class="table">
        <tr ng-repeat="topic in topics">
            <td ><span ng-class="{'glyphicon':true, 'glyphicon-eye-open':topic.active,
             'glyphicon-lock':!topic.active}"></span>
            </td>

            <td>
                <a >{{topic.title}}</a>
            </td>
            <td>
                <button  class="btn btn-xs btn-primary" ng-click="modify(topic._id)">
                    <span class="glyphicon glyphicon-pencil"></span></button>
            </td>
        </tr>
    </table>

</div>

