<div class="panel panel-primary">
    <div class="panel-heading">სტატისტიკა</div>
    <div class="list-group">
        <div class="list-group-item">მომხმარებლები სულ: {{stats.usersCount}}</div>
        <div class="list-group-item">მომხმარებლები დღეს: {{stats.usersToday}}</div>
        <a ui-sref="app.word.list" class="list-group-item">სიტყვები სულ: {{stats.wordsCount}}</a>
        <div class="list-group-item">სიტყვები დღეს: {{stats.wordsToday}}</div>
        <a ui-sref="app.word.pending" class="list-group-item">შესამოწმებელი სიტყვები: {{stats.wordsUnchecked}}</a>
        <a ui-sref="app.collection.all-collection-list" class="list-group-item">კოლექციები სულ: {{stats.collectionsCount}}</a>
        <div class="list-group-item">კოლექციები დღეს: {{stats.collectionsToday}}</div>
        <a  ui-sref="app.collection.collection-list" class="list-group-item">შესამოწმებელი კოლექციები: {{stats.collectionsUnchecked}}</a>
        <div class="list-group-item">პრაქტიკა სულ: {{stats.practicesCount}}</div>
        <div class="list-group-item">პრაქტიკა დღეს: {{stats.practicesToday}}</div>
        <div class="list-group-item">პოსტები სულ: {{stats.postsCount}}</div>
        <div class="list-group-item">პოსტები დღეს: {{stats.postsToday}}</div>
    </div>
</div>