<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{topic.title}}</h3>
    </div>


    <div class="list-group">
        <div class="list-group-item" ng-repeat="post in posts">
            <span style="font-weight: bold;" class="list-group-item-heading">{{post.user.local.username}}</span>&nbsp;&nbsp;<span>{{post.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            <!--<hr>-->
            <div class="well"><p class="list-group-item-text" style="color:black; font-size:14px;">{{post.text}}</p>
            </div>
        </div>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">პოსტის დამატება</h3>
    </div>
    <div class="panel-body">
        <form class="form" ng-submit="createPost()">
            <div class="form-group">
                <label for="newPost" class="control-label"></label>
                <textarea placeholder="დაწერე აქ რამე..." class="form-control" id="newPost"
                          ng-model="newPostText"
                          rows="2"></textarea>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-primary">დამატება</button>
            </div>
        </form>
    </div>
</div>
<ul uib-pagination items-per-page="limit" boundary-links="true" ng-change="changePage()"
    total-items="count" ng-model="page" class="pagination-sm" max-size="8" force-ellipses="true"
    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>