<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">მომხმარებლები</h3>
    </div>
    <table class="table">
        <tr ng-repeat="user in users">
            <td class="col-md-8" >
                <a ng-show="user.local.email">{{user.local.email}}</a>
                <a ng-show="!user.local.email">{{user.facebook.name}}</a>
            </td>
            <td>
                <button class="btn btn-xs btn-primary" ng-click="">
                    <span class="glyphicon glyphicon-pencil"></span></button>
            </td>
        </tr>
    </table>

</div>