<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">მომხმარებლები</h3>
    </div>

    <table class="table">
        <tr ng-repeat="collection in collections">
            <td class="col-md-8">
                <a ng-click="">{{}}</a>
            </td>
            <td>
                <button  class="btn btn-xs btn-primary" ng-click="">
                    <span class="glyphicon glyphicon-pencil"></span></button>
            </td>
        </tr>
    </table>

</div>