<div class="modal-header">
    <h3 class="modal-title">სიტყვის დამატება</h3>
</div>
<div class="modal-body">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">ახალი სიტყვა</h3>
        </div>
        <div class="panel-body">
            <form ng-submit="addNewWord()">
                <div class="form-group">
                    <label for="wordName">სიტყვა :</label>
                    <input type="text" class="form-control" id="wordName" ng-model="wordName" placeholder="მაგ.: language">
                </div>
                <div class="form-group">
                    <label for="wordDescription">განმარტება (ქართული/ინგლისური):</label>
                    <input type="text" class="form-control" id="wordDescription" ng-model="wordDescription"
                           placeholder="მაგ.: ენა">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">დამატება</button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">სიტყვის ძებნა</h3>
        </div>
        <div class="panel-body">
            <form ng-submit="find()">
                <div class="form-group">
                    <label for="wordName1">სიტყვა :</label>
                    <input type="text" class="form-control" id="wordName1" ng-model="findInput"
                           placeholder="მაგ.: language">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">ძიება</button>
                </div>
            </form>
            <div ng-show="noWordsFound" class="well well-sm text-danger">ვერ მოიძებნა</div>
        </div>

        <div class="list-group">
            <a style="cursor: pointer" ng-click="addWord(word._id)" class="list-group-item"
               ng-repeat="word in words">{{word.value}} - {{word.description}}</a>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="close()">დახურვა</button>
</div>