<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">კოლექცია: {{collection.name}}</h3>
    </div>

    <div class="panel-body">
        <div class="well"><strong>აღწერა:</strong><br> {{collection.description}}</div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <a ui-sref="practice({collection:collection._id})" class="btn btn-success">პრაქტიკა</a>
        <a ui-sref="practice({collection:collection._id})" class="btn btn-default disabled">ტრენინგი (მალე)</a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">კოლექციის სიტყვები ({{collection.words.length}})</h3>
    </div>
    <ul class="list-group">
        <li uib-dropdown class="list-group-item" ng-repeat="word in collection.words">{{word.value}} - {{word.description}}
            <a uib-dropdown-toggle ng-class="{'glyphicon':true, 'glyphicon glyphicon-option-horizontal':!collection.is_public,
             'glyphicon glyphicon-option-horizontal':collection.is_public}">
            </a>
            <ul class="dropdown-menu" role="menu">
                <li role="menuitem"><a ng-click="getList(word._id)">ჩემს კოლექციაში დამატება</a></li>
            </ul>
        </li>
    </ul>
</div>