<form ng-submit="addNewWord()">
    <div class="modal-header">
        <h3 class="modal-title">სიტყვის რედაქტირება</h3>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label for="wordName">სიტყვა :</label>
            <input type="text" class="form-control" id="wordName" ng-model="wordName" placeholder="მაგ.: language">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-sm btn-info" ng-click="swap()">
                <span class="glyphicon glyphicon-sort"></span>
            </button>
            <button type="button" class="btn btn-sm btn-info" ng-click="lower()">
                Lower
            </button>
            <button type="button" class="btn btn-sm btn-info" ng-click="capitalize()">
                Capitalize
            </button>
        </div>
        <div class="form-group">
            <label for="wordDescription">განმარტება (ქართული/ინგლისური):</label>
            <input type="text" class="form-control" id="wordDescription" ng-model="wordDescription"
                   placeholder="მაგ.: ენა">
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success" type="submit">დადასტურება</button>
        <button class="btn btn-primary" ng-click="close()" type="button">დახურვა</button>
    </div>
</form>

