<!--<div class="panel panel-primary">-->
<!--<div class="panel-heading">-->
<!--<h3 class="panel-title">პრაქტიკა</h3>-->
<!--</div>-->

<!--<div class="panel-body">-->

<div class="practice">
    <span ng-click="goToCollection()" class="pr-close glyphicon glyphicon-remove"></span>
    <div class="practice-inner">


        <div ng-show="currentStage===0">
            <div class="pr-info">
                <p>კოლექცია: {{collectionName}}</p>
                <span class="glyphicon glyphicon-time"></span> {{practiceTime}}
                <br>
            </div>
            <div class="text-center">
                <button class="btn btn-primary pr-start-btn" ng-click="start()">დავიწყოთ</button>
            </div>
        </div>

        <div ng-show="currentStage===1" style="text-align: center;font-weight: bold;font-size:24px;">
            მოემზადეთ
            <br>
            <p style="font-size: 30px; color:#ff3333;">{{countDown}}</p>
        </div>

        <div ng-show="currentStage===2">
            <div class="text-right pr-clock">
                <span class="glyphicon glyphicon-time"></span> <strong>{{remainingTime}}</strong>
            </div>
            <br>
            <!--<button ng-click="destroy()">გაუქმება</button>-->
            <br>
            <div class="row text-center">
                <div class="col-md-12">
                    <p>სიტყვა: <strong>{{currentWord}}</strong></p>
                    <form ng-submit="checkWord()" autocomplete="off" class="form-inline">
                        <div class="form-group">
                            <label>
                                <input type="text" class="form-control pr-input" ng-model="inputWord" id="inputWord"
                                       capitalize>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <button class="btn btn-primary" type="submit">დადასტურება</button>
                            </label>
                        </div>
                    </form>
                </div>
            </div>


        </div>

        <div ng-show="currentStage===3">
            <div class="pr-info">
                <br> <strong>ტესტირება დასრულებულია.</strong>
                <br>
                <br> სტატისტიკა:
                <br> სწორი პასუხები - {{correct}}
                <br> შეცდომა - {{wrong}}
                <br> შეფასება - {{getPoints()}} (100-დან)
            </div>
            <div class="text-center">
                <button class="btn btn-info pr-start-btn" ng-click="again()">თავიდან</button>
            </div>
        </div>

    </div>
</div>